.red{
    background-color: red;
}
.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.indigo{
    background-color: indigo;
}

.purple{
    background-color: purple;
}

.box{
    width: 100px;
    color: grey;
    font-weight: bolder;
    
}

.container{
    border: 5px solid gold ;
    width: 100%;
    height: 100%;
}
