body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

h1 > span {
  color: midnightblue;
}
/* [lightsalmon] Mobile Devices: 319px — 480px
[powderblue] iPads and Tablets: 481px — 1200px 
1201px — 1600px */
/* .card{
  display: flex;
  flex: 1;
} */

/* .card{
  display: flex;
  flex: 1;
} */

/* @media (min-width: 1201px) and (max-width:1600px){
  .left{
    
      float: left;
      font-size: medium;
      
      
  }
  .tile-image{
    height: 200px;
      width: 200px;
  }

  .right{
  
    float: right;
    font-size: medium;

} */


.left > .tile-image{
  width: 250px;
  height: 250px;
  float: left;
}

.right> .tile-image{
  width: 250px;
  height: 250px;
  float: right;
}

.right > .card-title.card-text {
  text-align: right;
}

/* .right {
  float: right;
  } */

/* footer{
  clear: both;
} */

















